.title {
	letter-spacing: .01em;
	font-size: 1.2em;
	line-height: 1.25;
	margin: 5px 0 10px;
	color: #dcdcdc;
	transition: color 0.15s linear;
	font-weight: 400;

	@media only screen and (max-width: 480px) {
		font-size: 1.1em;
		line-height: 1.3;
	}
}

.singleArticle {
	border: 1px solid rgba(243, 245, 247, 0.1);
	overflow: hidden;
	border-radius: 15px;

	img {
		display: none;
		border-bottom: 1px solid rgba(243, 245, 247, 0.1);
	}

	@media only screen and (max-width: 480px) {
		border-radius: 15px;
	}

	h3 {
		padding: 1rem;
		margin-top: 0;
		margin-bottom: 0;

		@media only screen and (max-width: 480px) {
			padding: 0.75rem;
		}
	}

	a {
		&:hover {
			.title {
				color: var(--link-color);

				@media only screen and (max-width: 480px) {
					color: #dcdcdc;
				}
			}
		}
	}
}

.categoryArticle {
	border: 1px solid rgba(243, 245, 247, 0.1);

	&:last-of-type {
		border-bottom: 1px solid rgba(243, 245, 247, 0.1);
	}
}

.publisherListing {
	.dateTime {
		margin-top: 0;
	}
}

.source {
	letter-spacing: .01em;
	display: inline-block;
	margin-right: 15px;
	background-color: rgb(28, 28, 28);
	padding: 3px 8px;
	font-size: 0.9em;
	border-radius: 10px;
	border: 1px solid #1e1e1e;
	color: var(--link-color);
}

.dateTime {
	font-size: 0.7em;
	color: #707070;
	display: flex;
	align-items: center;
	font-weight: 500;
	padding: 0.75rem 1rem;
	border-top: 1px solid rgba(243, 245, 247, 0.1);

	@media only screen and (max-width: 480px) {
		padding: 0.5rem 0.75rem;
		font-size: 0.8em;
	}

	svg {
		width: 12px;
		height: 12px;
	}
}

.sourceImage {
	margin-right: 3px;
}